<div class="container my-4">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="alert alert-success" *ngIf="success">Success</div>
      <div class="alert alert-danger" *ngIf="error">Error</div>
    <form #editProductForm="ngForm" (ngSubmit)="onSubmit(editProductForm)" ngNativeValidate>
        <div class="form-group">
          <label for="username">Product Id</label>
          <input type="text" class="form-control" name="pid" [(ngModel)]="product.pid" [disabled]="true"  >
        </div>
        <div class="form-group">
          <label for="pname">Product Name</label>
          <input type="text" required #name="ngModel" [class.is-invalid]="name.touched && name.invalid"
            class="form-control" name="name" [(ngModel)]="product.name">
          <div class="invalid-feedback" *ngIf="name.touched && name.invalid">* Pruduct name required
          </div>
        </div>

        <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" required #desc="ngModel" [class.is-invalid]="desc.touched && desc.invalid"
            class="form-control" name="description" [(ngModel)]="product.description" >
          <div class="invalid-feedback" *ngIf="desc.touched && desc.invalid">* Description required</div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" required #price="ngModel" maxlength="7"
            pattern="^[0-9]*$" 
            [class.is-invalid]="price.touched && price.invalid" class="form-control" name="price"
            [(ngModel)]="product.price" >
            <div class="invalid-feedback" *ngIf="price.touched && price.invalid">* Price must be a number</div>
        </div>

        <!-- <div class="form-group">
            <label for="qty">Quantity</label>
            <input type="text" required #qty="ngModel" maxlength="2"
              pattern="^[0-9]*$" 
              [class.is-invalid]="qty.touched && qty.invalid" class="form-control" name="qty"
              [(ngModel)]="product.quantity">
              <div class="invalid-feedback" *ngIf="qty.touched && qty.invalid">* Quantity must be a number</div>
          </div> -->

        <button class="btn btn-info " type="submit" >Update</button>
        <button class="btn btn-danger mx-2" routerLink="/products">Cancel</button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

