<div>
  <app-navigation></app-navigation>
</div>

<!-- <footer>
  <div class="text-center bg-light my-5 py-4">© 2020 Copyright:
    <a routerLink="/"> Jyoti Prakash Sahoo</a>
  </div>
</footer> -->

<!-- Footer -->
<footer class="page-footer font-small special-color-dark bg-light mt-4">

  <div class="container my-5 py-3">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
    </ul>

    <div class="footer-copyright text-center">© 2020 Copyright:
      <a href="#"> E-Basket</a>
    </div>

  </div>


</footer>


