<h3 class="text-center text-info my-4">PRODUCTS IN YOUR CRAT</h3>
<div class="alert alert-danger" *ngIf="!check()">No items in your cart</div>
<div class="container" *ngIf="check();" >
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of productInCart">
          <th scope="row">{{obj.name}}</th>
          <td>{{obj.description}}</td>
          <td>{{obj.quantity}}</td>
          <td>{{obj.price}}</td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td><h4 class="text-primary">Total:</h4></td>
            <td>{{cartValue}}</td>
          </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" *ngIf="check();" routerLink="/createorder">Place Order</button>
    <button class="btn btn-info mx-2" routerLink="/products">Back to product</button>
    <button class="btn btn-danger mx-2" *ngIf="check();" (click)="clearCart()">Clear Cart</button>
  </div>
  <button class="btn btn-info mx-2" *ngIf="!check();" routerLink="/products">Back to product</button>
  